body, html, #root {
  background-color: #4790a4; 
  height: 100%; /* Täyttää koko ruudun */
  margin: 0;    /* Poistaa oletusvälit */
  width: 100%;  /* Varmistaa, että body vie koko leveyden */
}

.App {
  display: flex;
  flex-direction: column; /* Asettelu pystysuunnassa */
  min-height: 100vh; 
}

main {
  background-color: #4790a4;
  flex: 1; 
  width: 100%; 
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white !important;
  transition: color 0.3s ease;
  font-size: 20px;
}

.nav-link:hover {
  color: #f4dc7d !important;
}

.nav-link.active {
  color: #ffcc00 !important;
  font-weight: bold;
}

.nav-item {
  list-style: none;
}

/* Navigation mobiilissa */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
    padding: 10px 0;
  }

  .nav-link {
    font-size: 16px;
    padding: 10px;
    display: block; /* Asettaa linkit omalle rivilleen */
  }

  .navbar-toggler {
    border: none;
    outline: none;
  }
}

footer {
  background-color: #286779; /* Footerin taustaväri */
  color: white;
  padding: 10px;
  text-align: center;
  min-height: 20px; 
  margin-top: auto; 
}

footer p {
  margin-top: 20px; 
}

.home-container {
  padding: 50px;
  text-align: left;
}

.home-container h1 {
  font-size: 4.5rem;
  margin-bottom: 30px;
  font-family: 'DM-sans';
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1); 
}

@media (max-width: 768px) { 
  .home-container h1 {
    font-size: 3rem; 
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) { 
  .home-container h1 {
    font-size: 2.5rem; 
    margin-bottom: 20px;
  }
}

.home-container p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-style: italic;
}

.home-container h2 {
  margin-bottom: 30px;
}

.spacing-between {
  margin-bottom: 100px; 
}

/* Taustakuva-asetukset */
.home-background {
  background-image: url('/ulkokuva.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .home-background {
    background-size: cover;
    background-position: center center;
    height: 50%;

  }
}

@media (max-width: 576px) {
  .home-background {
    background-size: cover;
    background-position: center center; 
    height: 50%;
  }
}

.img-rounded {
  width: 90%; 
  height: auto; 
  border-radius: 30px; 
  border: 10px solid #286779; 
}

.img-services {
  width: 500px;     
  height: 400px;  
  object-fit: cover;  
  border-radius: 30px;  
  border: 10px solid #286779;  
}

.text-block {
  max-width: 90%;  
  word-wrap: break-word;  /* Pakottaa tekstin rikkoontumaan rivillä */
  overflow-wrap: break-word;  /* Varmistaa tekstin rivin murtumisen */
  margin-right: auto; 
}

.services-container {
  padding: 50px;
  text-align: left;
}

.services-container h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  font-family: 'DM-sans'
}

.services-container h3 {
  font-size: 2rem;
  margin-bottom: 100px;
  font-family: 'DM-sans'
}

@media (max-width: 768px) {
  .services-container {
    padding: 30px;
  }

  .services-container h1 {
    font-size: 2rem;
  }

  .services-container h3 {
    font-size: 1.3rem;
  }

  .img-services {
    width: 500px;      
    height: 400px;   
    object-fit: cover;  
    border-radius: 30px; 
    border: 10px solid #286779;  
}

  .img-rounded {
    width: 100%; 
  }

  .services-container h2 {
    font-size: 1.8rem; /* Pienempi otsikko */
    text-align: center; /* Keskitetään otsikko */
  }

  .services-container p {
    font-size: 1rem; 
  }

  .services-container .row {
    flex-direction: column;
    align-items: center;
  }

  .services-container .col-md-6 {
    width: 100%;
    margin-bottom: 20px; 
  }

  .services-container .text-white {
    text-align: center; 
  }
}

/* Mobiili- ja pienemmät näytöt */
@media (max-width: 576px) {

  .services-container{
    padding: 50px;
  }

  .services-container h1 {
    font-size: 2rem; /* Pienempi pääotsikko */
  }

  .services-container h2 {
    font-size: 1.5rem; /* Pienempi alaotsikko */
    text-align: center;
  }

  .services-container h3 {
    font-size: 1.5rem; /* Pienempi alateksti */
  }

  .img-services {
    width: 500px;
    height: 400px;
    margin-bottom: 20px;
  }

  .services-container p {
    font-size: 1rem;
  }
}

.references-container {
  padding: 50px 20px; 
  text-align: center;
}

@media (min-width: 768px) { 
  .references-container {
    padding: 80px;
  }
}

@media (min-width: 1200px) { 
  .references-container {
    padding: 50px;
  }
}

.carousel-text{
  margin-bottom: 0.5rem;
}

.references-container h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-family: 'DM-sans';
}

.references-container h3 {
  font-size: 2rem;
  margin-bottom: 100px;
  font-family: 'DM-sans';
}

@media (max-width: 576px) { 
  .references-container h1 {
    font-size: 2rem; 
    margin-bottom: 20px;
  }

  .references-container h3 {
    font-size: 1.5rem
  }
}

.carousel-control-prev, 
.carousel-control-next {
  filter: invert(0);  
  opacity: 1;        
}

.carousel-control-prev {
  left: -50px;  
}

.carousel-control-next {
  right: -50px; 
}

.carousel-img {
  width: 90%;
  height: 350px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-img {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 576px) {
  .carousel-img {
    width: 70%;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .carousel-control-prev {
    left: -20px; 
  }

  .carousel-control-next {
    right: -20px; 
  }
}

.carousel-indicators {
  bottom: -50px;  
}

.gallery-img {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .gallery-img {
    width: 80% !important; 
    margin: 0 auto; 
    display: block;
  }
}

.gallery-img:hover {
  transform: scale(1.05);
}

/* Tyylit raksipainikkeelle */
.custom-close-btn {
  background-color: white; 
  border: 2px solid black; 
  color: black; 
  font-size: 1rem; 
  padding: 0.5rem; 
  border-radius: 50%; 
  opacity: 0.8; 
  transition: opacity 0.3s ease; 
}

.custom-close-btn:hover {
  opacity: 1; 
}

.custom-margin-top {
  margin-top: 100px;
}

ul li {
  margin-bottom: 20px; 
  text-align: left;
  list-style-position: inside;
  list-style-type: none;
}

.contact-container {
  padding: 100px;
}

.contact-container h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-family: 'DM-sans'
}

.contact-container h3 {
  font-size: 2rem;
  margin-bottom: 100px;
  font-family: 'DM-sans'
}

@media (max-width: 992px) {
  .contact-container {
    padding: 40px 20px; 
    text-align: center;
  }

  .contact-container h1 {
    font-size: 2rem;
  }

  .contact-container h3 {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }

  .contact-box {
    padding: 20px;
    max-width: 100%; 
  }

  .google-map {
    width: 100%;
    height: 250px; /* Pienempi kartta mobiilissa */
    border-radius: 15px;
  }
}

@media (max-width: 658px) {
  .contact-test {
    padding: 40px 
  }
}

@media (max-width: 768px) {
  .contact-container {
    padding: 40px 20px; 
    text-align: center;
  }

  .contact-container h1 {
    font-size: 2rem;
  }

  .contact-container h3 {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }

  .contact-box {
    padding: 20px;
    max-width: 100%; 
  }

  .google-map {
    width: 100%;
    height: 250px; 
    border-radius: 15px;
  }
}